<div id='jobsContainer'>
	#foreach($group in $data.JobGroups)
	#nodata
		No jobs found
	#each
		<h2 class='groupHeader'>
			$group.Name
			<div class='status'>
				#if ($group.CanPause)
					<a href="/CrystalQuartzPanel.axd?command=group-pause&group=${group.Name}">Pause all</a> |
				#end
				#if ($group.CanStart)
					<a href="/CrystalQuartzPanel.axd?command=group-resume&group=${group.Name}">Resume all</a> |
				#end
				#statusImage($group)
			</div>
		</h2>
		
		#foreach($job in $group.Jobs)
		#each
			#parse("CrystalQuartz.Web.Templates.jobPanel.vm")
		#end
	#end
</div>
			
