p, div, html, body, img, h1, h2, h3, h4, h5, h6
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: Verdana,Helvetica,Sans-Serif;
	font-size: 80%;
	color: #333333;
}

A 
{
	color: #666666;
}

#mainContent, #mainHeader
{
	margin: 0 auto;
	width: 960px;
}

#mainHeader
{
	margin-top: 2em;
}

#mainHeader A
{
	float: right;
}

.simplePanel
{
	border: 1px solid #666666;
	margin-top: 2em;
}

H2
{
	background: #666666 url("/CrystalQuartzPanel.axd?file=CrystalQuartz.Web.Content.Images.headerBg.png&type=png");
	color: #FFFFFF;
	margin: 0;
	padding: 5px 0 5px 5px;
	border-bottom: 1px solid #666666;
	font-weight: normal;
}

.simplePanel DIV
{
	margin: 1em;
}

/* Status */

H2 .started, 
H2 .active, 
H2 .paused, 
H2 .stopped, 
H2 .none, 
H2 .mixed, 
H2 .complete
{
	float: right;
	margin-right: 0;
	font-size: 0.7em;
	padding: 3px;
}

.started IMG,
.active IMG,
.paused IMG,
.stopped IMG,
.complete IMG,
.none IMG,
.mixed IMG
{
	vertical-align: middle;
}

.started, .active
{
	color: #68A00B;
}

.paused 
{
	color: #FF9900;
}

.stopped
{
	color: #CC6666;
}

.complete 
{
	color: #666666;
}

.none 
{
	color: #CCCCCC;
}

DIV.none 
{
	padding: 5px;
}

/* Lobs Container */
#jobsContainer
{
	margin-top: 1em;
}

#jobsContainer H2.groupHeader
{
	margin-top: 1em;
}

#jobsContainer H2.groupHeader DIV.status A
{
	color: #FFFFFF;
}

#jobsContainer H2.groupHeader DIV.status 
{
	color: #FFFFFF;
	font-size: 0.7em;
	margin-right: 0;
}

#jobsContainer .job, #jobDataMap, #jobProperties
{
	background: none repeat scroll 0 0 #FFFFFF;
	margin: 10px 0 0;
	border: 2px solid #EEEEEE;
}

H3
{
	background: none repeat scroll 0 0 #EEEEEE;
	color: #666666;
	padding: 2px 5px 5px;
	font-weight: normal;
}

#jobsContainer .status
{
	float: right;
	padding: 3px;
}

TABLE.data
{
	width: 100%;
	border-collapse: collapse;
	
}

TABLE.data TH, TABLE.data TD
{
	font-size: 0.8em;
	text-align: left;
	font-size: 0.85em;
	padding: 3px;
}

TABLE.data TD
{
	border-top: 1px solid #EEEEEE;
}

#schedulerProperties TABLE TH 
{
	text-align: right;
	padding-right: 10px;
}

/* Data values */

span.string 
{
	color: #A31515;
}

span.boolean
{
	color: #0000FF;
}

span.runtimetype
{
	color: #2B91AF;
}